*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body{
  background-color: #10401b;
}
.wrapper{
  background-color: #9fc55a;
}
/*   Header   */
.header{
  width: 100%;
  height: 50px;
  background-color: #397624;
  display: flex;
  justify-content: space-between;
  padding: 5px 5%;
}
.header-logo{
  box-sizing: border-box;
  height: 80px;
  width: 80px;
  background-color: #ffffff;
  border: 2px double #397624;
  border-radius: 50%;
  padding: 15px;
}
.header-logo-img{
  height: 80px;
  width: 50px;
}
.header-text{
  width: 90%;
}
.header-logo-text{
  margin: 5px;
  font-family: "Cuprum", sans-serif;
  font-weight: 700;
  font-size: 30px;
  color: #ffffff;
  line-height: 25px;
  text-align: center;
}
.header-menu{
  background-color: #10401b;
}
.header-menu-items{
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
}
.header-menu-item{
  margin: 10px;
  font-family: "Cuprum", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #ffffff;
}
.header-menu-item-link{
  text-decoration: none;
  font-family: "Cuprum", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #ffffff;

}
/*   Main   */
.main{
  width: 100%;
  background-color: #9fc55a;
}
.main-advantages{
  width: 90%;
  margin: 10px 5%;
  display: flex;
  justify-content: space-around;
}
.main-advantage{
  background-color: #ffffff;
  width: 48%;
  box-sizing: border-box;
  box-shadow: 0 0 5px 0 #000000;
  border-radius: 5px;
}
.main-advantage-header{
  text-align: center;
  color: #10401b;
  font-family: "Cuprum", sans-serif;
  font-size: 30px;
} 
.main-advantage-img{
  width: 128px;
  margin: 5px 32.7%;
}
.main-advantage-wrapper-flex{
  display: flex;
}
.main-advantage-wrapper{
  margin: 5px 5%;
}
.main-advantage-date{
  color: #958934;
  font-family: "Cuprum", sans-serif;
  font-size: 20px;
}
.main-advantage-place{
  color: #958934;
  font-family: "Cuprum", sans-serif;
  font-size: 20px;
  font-weight: 700;
}
.main-advantage-head{
  color: #875826;
  font-family: "Cuprum", sans-serif;
  font-size: 18px;
  font-weight: 700;
  font-style: italic;
}
.main-advantage-text{
  color: #10401b;
  font-family: "Cuprum", sans-serif;
  font-size: 20px;
  font-weight: 700;
}
.main-advantage-text-link{
  text-decoration: none;
  color: #10401b;
  font-family: "Cuprum", sans-serif;
  font-size: 20px;
  font-weight: 700;
}
/*   Article   */
.main-article{
  width: 90%;
  margin: 40px 5% 30px;
  box-shadow: 0 0 5px 0 #000000;
  background-color: #ffffff;
  border-radius: 5px;
  padding: 30px 2%;
}
.main-article-header-wrapper{
  display: flex;
  justify-content: space-between;
  padding: 5px 5%;

}
.main-article-wrapper{
  display: flex;
}
.main-article-header{
  width: 85%;
  font-family: "Cuprum", sans-serif;
  font-weight: 700;
  font-size: 30px;
  color: #10401b;
  padding: 5px;
}
.main-article-header-link{
  text-decoration: none;
  color: #10401b;
}
.main-article-information{
  width: 15%;
  padding: 10px 0px 10px 5%;
}
.main-article-information-date, .main-article-information-author{
  color: #958934;
  font-family: "Cuprum", sans-serif;
  font-size: 20px;
  font-weight: 700;
}
.main-article-text{
  color: #000000;
  font-family: "Cuprum", sans-serif;
  font-size: 18px;
  font-weight: 400;
  padding: 10px 5%;
}
/*   Footer   */
.footer{
  width: 100%;
  height: 50px;
  background-color: #10401b;
  padding: 15px;
}
.footer-text{
  padding: 10px;
  text-decoration: none;
  font-family: "Cuprum", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #ffffff;
  text-align: end;
}

/*   About   */
.main-article-header-about{
  text-align: center;
  width: 100%;
  font-family: "Cuprum", sans-serif;
  font-weight: 700;
  font-size: 30px;
  color: #10401b;
  text-align: center;
  padding: 5px;
}
.main-article-text-about{
  color: #000000;
  font-family: "Cuprum", sans-serif;
  font-size: 18px;
  font-weight: 400;
  padding: 10px 5%;
}
.main-article-text-about-items{
  list-style-image: url("src/img/tickcircle.png");
  list-style-position: inside;
}
.main-article-text-about-item{
  color: #000000;
  font-family: "Cuprum", sans-serif;
  font-size: 18px;
  font-weight: 400;
  padding: 10px 5%;
}
.main-article-text-about-items-numeral{
  list-style-position: inside;
}
.main-article-text-about-link{
  text-decoration: none;
  color: #10401b;
  font-weight: 700;
}
/*   table   */
.main-article-table{
  font-family: "Cuprum", sans-serif;
  font-size: 18px;
  border-collapse: collapse;
}
.main-article-table-head{
  background-color: #10401b;
  color: #ffffff;
  height: 40px;
}
.main-article-table-head-row{
  height: 40px;
}
.main-article-table-body-row-odd{
  background-color: rgba(57, 118, 36, 0.05);
}
.main-article-table-body-row-even{
  /*background-color: rgba(16, 64, 27, 0.2);*/
  background-color: rgba(159, 197, 90, 0.3);
}
.main-article-table-head-coll-when, .main-article-table-head-coll-what,
 .main-article-table-head-who, .main-article-table-head-where,
 .main-article-table-body-coll-when, .main-article-table-body-coll-what,
 .main-article-table-body-coll-who, .main-article-table-body-coll-where{
   padding: 5px;
 }